<form name="container-form" method="POST" class="mt-4" action="/course/handle-action">
    <h1>My course</h1>
    <a href="/me/trash/course">Thung rac ({{deleteCount}})</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

      <select class="form-control form-control-sm checkbox-select-all-option" name="action" required>
        <option value="">-- Action --</option>
        <option value="Delete">Delete</option>
      </select>

      <button class="btn btn-primary btn-sm btn-submit" disabled="disabled">Submit</button>

    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                {{!-- <th scope="col"></th> --}}
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col" colspan="2">Create time</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                      <div>
                          <input class="form-check-input" name="courseIds[]" type="checkbox" value="{{this._id}}" id="{{this._id}}">
                      </div>
                    </td>
                    <td scope="row">{{sum @index 1}}</td>
                    <td>{{this.Name}}</td>
                    <td>{{this.Level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/course/{{this._id}}/edit" class="btn btn-link">Edit</a>
                        <a href="/course/{{this._id}}/delete" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-model">Delete</a>
                    </td>
                </tr>

            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                      No courses found <br>
                      <a href="/course/create" class="btn btn-primary">Create new course</a>
                    </td>
                    
                </tr>
                
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- modal --}}
<div class="modal" id="delete-course-model" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Chắc chắn có muốn xoá course này à.</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
{{!--  --}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId
        var containerForm = document.forms['container-form']
        var deleteForm = document.forms['delete-course-form']
        var btnDelete = document.getElementById('btn-delete-course')
        var checkboxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var btnSubmit = $('.btn-submit')

        //when dialog confirm clicked
        $('#delete-course-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            courseId = button.data('id')
            
        })
        //when delete button clicked
        btnDelete.onclick = function(){
            //alert(courseId)
            deleteForm.action = '/course/' + courseId + '?_method=DELETE'// add action method in form line 52
            deleteForm.submit()//submit the form
        }

        //when checkbox all clicked
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')
            courseItemCheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmitBTN()
        })

        //when course item checkbox clicked
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBTN()
        })

        //re-render check all submit button
        function renderCheckAllSubmitBTN(){
          var checkedCount = $('input[name="courseIds[]"]:checked').length
          if(checkedCount > 0){
            btnSubmit.attr('disabled', false)
          }else{
            btnSubmit.attr('disabled', true)
        }
        }

    });
</script>